
body {
  min-width: 1100px;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49.48px 91px 51px;
  font-size: 18px;
}

.header_menu {
  display: flex;
  justify-self: center;
}

.menu_links {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style-type: circle;
}

.header_links-list-item {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px; 
  text-decoration: underline;
}

.header_links-list-item_no-bullit {
  list-style-type: none; 
  text-decoration: none;
}

.header_link_active{
  text-decoration: none;
}

.a {
  font-size: 0%;
  line-height: normal;


.header_logo-image {
  max-width: 148px;
  max-height: 105px;
}

.header_address {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;  
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center; 
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover_title { 
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 40px 51px;
  color: #fff;
  font-size: 100px; 
  font-weight: 700;  
  line-height: 100%;
  letter-spacing: 30px;
} 

.cover_title span { 
  font-size: 100px; 
  font-weight: 700;  
  line-height: 100%;  
}

.align-text {
  display: block;
  line-height: 125px;
}

.align-text_center {
  text-align: center;
  line-height: 125px;
}

.align-text_right {
  text-align: right;
  line-height: 120px;  
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 86px 50px 50px 80px;
  gap: 79px;
}

.cover_description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  padding: 14px 32px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.container_lots {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  justify-content: flex-start; 
  padding: 0; 
  margin: 0 auto;
  margin-left: 20px; 
} 

.lots {
  padding: 24px 146px 24px 179px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.lots_heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots_card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}

.lots_card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_lots {
  max-width: 335px;
  min-height: 565px;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 50px 45px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(./../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(./../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
  position: relative;
  color: white;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 20px;
}

.lots_look-more-link{
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  padding-left: 40px;
  width: fit-content;
}


.about {
  min-height: 595px;
  padding: 24px 180px 24px 35px;
}

.about_column {
  display: grid;
  grid-template-columns: 1fr 334px;
  grid-template-rows: 1fr 240px;
  justify-items: center;
}

.about_logo {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: rgb(0 0 0);
  border-radius: 50%;
  padding: 35px;
}  

.about_logo-image {
  object-fit: contain;
  object-position: top;
  width: 148px;
  height: 114px;
  align-self: center;
}


.about_title {
 padding: 10px 0 390px 100px;
 color: black;
 font-size: 40px;
 font-weight: 700;
 line-height: normal;
 text-transform: uppercase;
}

.about_text {
 grid-column: 1;
 grid-row: 1/3;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 240px;
 height: 240px;
 background-color: rgb(0 0 0);
 border-radius: 50%;
 padding: 35px;
}

.about_text p{
 line-height: normal; 
 font-size: 19px;
 font-family: "Raleway", sans-serif;
}

.footer {
 display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 150px;
  padding: 180px 50px 80px;
}

.footer_address {
  font-style: normal;
  justify-self: start;
}

.footer_menu {
 padding-left: 35px;
}

.footer_menu-list {
  justify-self: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer_menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
  color: #000;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-icon {
  width: auto;
  height: 48px;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}